.nav-bar {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar-links {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #686C75;
}

.nav-bar-links-medium {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #686C75;
    margin: 0 50px;
}

.nav-bar-head-links {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 34px;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin: 0 30px;
}

header {
    display: flex;
    justify-content: center;
}

.header-title-block {
    padding-top: 150px;
    margin-left: -5px;
}

.title-img {
    width: 78.36px;
    height: 15.67px;
    padding-bottom: 30px;
}

.title-text {

    width: 500px;
    font-family: 'Axiforma', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 58.5056px;
    line-height: 68px;
    color: #000000;

}

.header-image-block {
    display: flex;

}

.header-images {
    display: flex;
    margin-top: -400px;
    margin-left: -30px;
}

.header-images img:first-child {
    width: 17px;
    height: 21px;
    margin-right: 15px;
}

.header-images img:nth-child(2) {
    width: 470px;
    margin-left: -270px;
    margin-top: -20px;
    height: 710px;
}

.header-images img:nth-child(3) {
    width: 470px;
    height: 690px;
    margin-left: -450px;
    background: #C4C4C4;
    border-radius: 376.107px 376.107px 0px 0px;
}

.header-images img:nth-child(4) {

    margin-top: -70px;
    margin-left: -230px;

    width: 400px;
    height: 400px;
}

.header-images img:nth-child(5) {

    margin-top: 63px;
    margin-left: -130px;

    width: 250px;
    height: 250px;
}

.header-images img:nth-child(6) {

    margin-top: 180px;
    margin-left: -393px;

    width: 370px;
    height: 370px;
}

.header-text {
    display: flex;
    width: 350px;
    height: 90px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 51.1924px;
    line-height: 68px;
    color: #000000;
    opacity: 0.1;
    transform: rotate(-90deg);
    margin-left: -390px;
    margin-top: 468px;
}

.header-button-search-block {
    position: relative;
    display: flex;
    width: 730px;
    height: 100px;
    background: rgba(243, 243, 243, 0.6);
    backdrop-filter: blur(17.7606px);
    border-radius: 5.22371px;
    top: 500px;
    justify-content: space-around;
    align-items: center;
}

.header-search-location-city {
    justify-content: center;
    background-image: url('../images/header/MapPin.png');
    background-position: 6px center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: 100px;
    height: 57px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
    cursor: pointer;
}

.header-search-location-city:hover {
    color: red;

    border: 1px solid yellow;
    border-radius: 5.22371px;
}

.city-click {
    justify-content: center;
    background: url('../images/header/MapPin.png') #FD5B2F;
    background-position: 18px center;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    width: 120px;
    height: 57px;
    color: #FFFFFF;
    border: none;

    border-radius: 5.22371px;
    cursor: pointer;
}

.city-click:active {
    box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
    color: #ffffff92;
}

.header-search-location {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100px;
    height: 57px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #989898;
    cursor: pointer;
}

.header-search-location:hover {
    border: 1px solid yellow;
    color: red;
    border-radius: 5.22371px;
}

.location-click {
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    width: 120px;
    height: 57px;
    color: #FFFFFF;
    border: none;
    background: #FD5B2F;
    border-radius: 5.22371px;
    cursor: pointer;
}

.location-click:active {
    box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
    color: #ffffff92;

}

.shedule-visit-button {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 140px;
    height: 57px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
    cursor: pointer;
}

.shedule-visit-button:hover {
    border: 1px solid yellow;
    color: red;
    border-radius: 5.22371px;
}

.shedule-click {
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    width: 140px;
    height: 57px;
    color: #FFFFFF;
    border: none;
    background: #FD5B2F;
    border-radius: 5.22371px;
    cursor: pointer;
}

.shedule-click:active {
    box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
    color: #ffffff92;
}

.booked-block {
    display: flex;
}

.booked-img {
    align-items: center;

    display: flex;
    margin-top: -50px;

}

.booked-img img {
    align-items: center;
    margin-left: -13px;
    display: flex;
    width: 36px;
    height: 36px;
}

.last-booked-img {
    cursor: pointer;
    background-image: url('../images/header/Ellipse37.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    margin-left: -13px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 36px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
}

.booked-text {
    align-items: center;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: #000000;
}

.company-logo {
    justify-content: center;
    padding-top: 80px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    display: flex;
}

.company-logo img {
    margin: 0 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1250px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .header-title-block {
        flex-direction: column;
        display: flex;
        padding-top: 0px;
        margin: 0 auto;
    }

    .title-text {
        width: initial;
        font-size: 40px;

    }

    .header-image-block {
        display: flex;
        justify-content: center;
        padding-top: 60px;
    }

    .header-images {
        display: flex;
        margin-top: -11px;
        margin-left: -522px;

    }

    .header-button-search-block {
        width: 470px;
        height: 80px;
        position: relative;
        display: flex;
        background: rgba(198, 207, 225, 0.52);
        backdrop-filter: blur(3px);
        top: 500px;
        left: 220px;
        justify-content: space-around;
        align-items: center;
        border-radius: 0px;

    }


    .header-search-location {
        font-weight: 500;
        /* color: #1f1b1b; */
    }

    .header-search-button {
        margin-right: -20px;
    }

    .booked-block {
        margin-left: 50px;
    }

    .booked-img {
        margin: 0 auto;
    }

    .header-images img:nth-child(6) {
        margin-top: 180px;
        margin-left: -333px;
    }

    .header-images img:nth-child(5) {

        margin-top: 96px;
        margin-left: -769px;
    }
}


@media only screen and (max-width: 987px) {
    .nav-bar-links-medium {

        margin: 0 20px;
    }
}

@media only screen and (max-width: 878px) {
    .company-logo {
        justify-content: center;
        padding-top: 20px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        display: flex;
    }

    .company-logo img {
        margin: 10px 30px;
        cursor: pointer;
    }

    .header-images {
        margin-left: -562px;
    }
}

@media only screen and (min-width: 867px) {
    .navbar {
        display: none;
    }

}

@media only screen and (max-width: 867px) {
    .nav-bar {
        display: none;
    }

    .navbar {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 770px) {

    .header-title-block {
        flex-direction: column;
        display: flex;
        padding-top: 0px;
        margin: 0 auto;
    }

    .title-text {
        width: 430px;
        font-size: 20px;
        line-height: 25px;

    }

    .header-button-search-block {
        width: 370px;
        height: 80px;
        position: relative;
        display: flex;
        background: rgba(198, 207, 225, 0.52);
        backdrop-filter: blur(5px);
        top: 510px;
        left: 357.5px;
        justify-content: space-around;
        align-items: center;
    }

    .header-search-button {
        margin-right: -20px;
        width: 150px;
        border-radius: 0px;

    }

    .booked-block {
        margin-left: 0px;
    }

    .booked-img {
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-images img:first-child {
        width: 17px;
        height: 21px;
        margin-right: 15px;
    }

    .header-images img:nth-child(2) {
        width: 370px;
        margin-left: -32px;
        margin-top: -20px;
        height: 610px;
    }

    .header-images img:nth-child(3) {
        width: 370px;
        height: 590px;
        margin-left: -350px;
        background: #C4C4C4;
        border-radius: 376.107px 376.107px 0px 0px;
    }

    .header-images img:nth-child(4) {

        margin-top: -70px;
        margin-left: -230px;

        width: 300px;
        height: 300px;
    }

    .header-images img:nth-child(5) {

        margin-top: 100px;
        margin-left: -510px;

        width: 150px;
        height: 150px;
    }

    .header-images img:nth-child(6) {

        margin-top: 160px;
        margin-left: -253px;

        width: 270px;
        height: 270px;
    }

    .header-text {
        margin-left: -320px;
        margin-top: 370px;
        font-size: 41px;
    }

}

@media only screen and (min-width: 600px) {
    .head-animation {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header-title-block {
        flex-direction: column;
        display: flex;
        padding-top: 0px;
        margin: 0 auto;
    }

    .header-images {
        margin-left: -542px;
    }

    .header-search-button {
        margin-right: -20px;
        width: 120px;
        height: 50px;
        border-radius: 20px;
        font-size: 12px;

    }

    .header-text {
        transform: rotate(0deg);
        margin-left: -335px;
        margin-top: 587px;
        width: max-content;
        font-size: 51px;
        letter-spacing: 5px;

    }

    .title-text {

        width: initial;
        font-size: 20px;
        line-height: 25px;

    }

    .header-image-block {
        margin-left: 251px;
    }

    .header-button-search-block {
        width: 340.5px;
        backdrop-filter: blur(5px);
        top: 445px;
        left: 250px;
        border-radius: 0px;

    }

    .booked-block {
        margin-left: 0px;
    }

    .header-images img:first-child {
        width: 17px;
        height: 21px;
        margin-right: 15px;
    }

    .header-images img:nth-child(2) {
        width: 360px;
        margin-left: -100px;
        margin-top: -20px;
        height: 610px;
    }

    .head-animation {
        width: 340px;
        height: 590px;
        margin-left: -350px;
        background: #C4C4C4;
        border-radius: 376.107px 376.107px 0px 0px;
        animation: headAnim 12s infinite;
    }

    @keyframes headAnim {

        0%,
        100% {
            background-image: url("../images/header/headAnimation/1.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        25% {
            background-image: url("../images/header/headAnimation/2.jpg");
        }

        50% {
            background-image: url("../images/header/headAnimation/3.jpg");
        }

        75% {
            background-image: url("../images/header/headAnimation/4.jpg");
        }

    }


    .header-images img:nth-child(3) {
        display: none;

        width: 340px;
        height: 590px;
        margin-left: -350px;
        background: #C4C4C4;
        border-radius: 376.107px 376.107px 0px 0px;
    }

    .header-images img:nth-child(4) {
        display: none;
        margin-top: 510px;
        margin-left: -400px;

        width: 250px;
        height: 250px;
    }

    .header-images img:nth-child(5) {
        display: none;
        margin-top: 584px;
        margin-left: -20px;

        width: 150px;
        height: 150px;
    }

    .header-images img:nth-child(6) {
        display: none;
        margin-top: 550px;
        margin-left: -243px;

        width: 200px;
        height: 200px;
    }


}

@media only screen and (max-width: 412px) {
    .header-images {
        margin-left: -517px;

    }
}


@media only screen and (max-width: 372px) {

    .header-button-search-block {
        position: relative;
        display: flex;
        width: 730px;
        height: 100px;
        background: rgba(243, 243, 243, 0.6);
        backdrop-filter: blur(17.7606px);
        border-radius: 5.22371px;
        top: 500px;
        justify-content: space-around;
        align-items: center;
    }

    .header-search-location-city {
        justify-content: center;
        background-image: url('../images/header/MapPin.png');
        background-position: 6px center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        width: 100px;
        height: 30px;
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18.8054px;
        line-height: 24px;
        color: #989898;
        cursor: pointer;
    }

    .header-search-location-city:hover {
        color: red;

        border: 1px solid yellow;
        border-radius: 5.22371px;
    }

    .city-click {
        justify-content: center;
        background: url('../images/header/MapPin.png') #FD5B2F;
        background-position: 18px center;
        background-repeat: no-repeat;
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        align-items: center;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        width: 120px;
        height: 30px;
        color: #FFFFFF;
        border: none;

        border-radius: 5.22371px;
        cursor: pointer;
    }

    .city-click:active {
        box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
        color: #ffffff92;
    }

    .header-search-location {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100px;
        height: 30px;
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #989898;
        cursor: pointer;
    }

    .header-search-location:hover {
        border: 1px solid yellow;
        color: red;
        border-radius: 5.22371px;
    }

    .location-click {
        justify-content: center;
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        align-items: center;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        width: 120px;
        height: 30px;
        color: #FFFFFF;
        border: none;
        background: #FD5B2F;
        border-radius: 5.22371px;
        cursor: pointer;
    }

    .location-click:active {
        box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
        color: #ffffff92;

    }

    .shedule-visit-button {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 140px;
        height: 30px;
        font-family: 'Cera Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18.8054px;
        line-height: 24px;
        color: #989898;
        cursor: pointer;
    }

    .shedule-visit-button:hover {
        border: 1px solid yellow;
        color: red;
        border-radius: 5.22371px;
    }

    .shedule-click {
        justify-content: center;
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        align-items: center;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        width: 140px;
        height: 30px;
        color: #FFFFFF;
        border: none;
        background: #FD5B2F;
        border-radius: 5.22371px;
        cursor: pointer;
    }

    .shedule-click:active {
        box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
        color: #ffffff92;
    }

    .header-title-block {
        flex-direction: column;
        display: flex;
        padding-top: 0px;
        margin: 0 auto;
    }

    .header-images {
        display: flex;
        margin-top: -11px;
        margin-left: -595px;
    }

    .booked-text {
        font-size: 12px;
    }

    .header-text {
        margin-left: -224px;
        margin-top: 307px;
        font-size: 31px;
    }

    .title-text {

        width: initial;
        font-size: 15px;
        line-height: 25px;

    }

    .header-image-block {
        margin-left: 251px;
    }

    .title-img img {
        width: 100px;
    }

    .header-button-search-block {
        width: 242px;
        backdrop-filter: blur(5px);
        top: 230px;
        left: 298px;
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        border-radius: 0px;
    }

    .header-search-button {
        margin-right: -20px;
        width: 150px;
        height: 45px;
    }


    .booked-block {
        margin-left: -27px;
        margin-top: -75px;
    }

    .solutions-block {
        height: 78vh;
    }

    .header-images img:first-child {
        width: 17px;
        height: 21px;
        margin-right: 10px;
        margin-left: 20px;
    }

    .header-images img:nth-child(2) {
        width: 260px;
        margin-left: 47px;
        margin-top: -20px;
        height: 450px;
    }

    .head-animation {
        width: 242px;
        height: 320px;
        margin-left: -251px;
    }

    .header-images img:nth-child(3) {
        overflow: hidden;
        width: 242px;
        height: 320px;
        margin-left: -251px;
        background: #C4C4C4;
        border-radius: 376.107px 376.107px 0px 0px;
    }

    .header-images img:nth-child(4) {

        margin-top: 272px;
        margin-left: -284px;

        width: 200px;
        height: 200px;
    }

    .header-images img:nth-child(5) {

        margin-top: 320px;
        margin-left: -50px;

        width: 150px;
        height: 150px;
    }

    .header-images img:nth-child(6) {

        margin-top: 300px;
        margin-left: -218px;

        width: 180px;
        height: 180px;
    }

    .company-logo {
        justify-content: space-around;
        padding-top: 20px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        display: flex;
    }

    .company-logo img {
        width: 50px;
        margin: 10px 10px;
    }
}