.member-block {
    display: flex;
    margin-bottom: 77px;
}

.member-text {
    width: 800px;
    margin-top: 140px;
}

.member-buttons {
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    /* justify-content: space-around; */
}

.email-verify {
    display: none;
    align-items: center;
    width: 460px;
    border: 1px solid rgba(168, 168, 168, 0.486);
    border-radius: 20px;
    padding: 4px 10px;
    height: 56.42px;
    margin-bottom: 20px;
    margin-right: 20px;

}

#emailVerify {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 390px;
    vertical-align: middle;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    color: black;

}
#emailVerify:invalid {
    color: red;
}
#emailButton {
    width: 45px;
    height: 45px;
    border: none;
    background: url('../images/member/chekMail.png') no-repeat 50% 50%;
    background-size: 45px 45px;
    cursor: pointer;
}
#emailButton:active {
    width: 42px;
    height: 42px;
}

.sign-up {
    display: block;
    font-family: 'Gilroy Medium';
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 25px;
    width: 176.56px;
    height: 56.42px;
    color: #FFFFFF;
    border: none;
    background: #FD5B2F;
    border-radius: 5.22371px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
    /* margin-top: 36px; */
}

.sign-up:active {
    box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
    color: #ffffff92;
}

.shedule-visit {
    font-family: 'Gilroy Medium';
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 25px;
    width: 176.56px;
    height: 56.42px;
    color: #FD5B2F;
    border: none;
    background: #FFFFFF;
    border: 1px solid #FD5B2F;
    border-radius: 5.22371px;
    cursor: pointer;
}

.shedule-visit:active {
    box-shadow: #fd5c2f68 0.2px -0.2px 0.7px 1px;
    color: #fd5c2f83;
    background: #b9b7b732;
}

.member-img {
    display: flex;
}
.member-img img:nth-child(1) {
    height: 624.92px;
    width: 400px;
}
.member-img img:nth-child(2) {
    margin-left: -350px;
    height: 570px;
    margin-top: 53.97px;
}

@media only screen and (max-width: 1280px) {
    .member-text {
        width: 638px;
        margin-top: 131px;
    }
    
.email-verify {
    width: 400px;
}

#emailVerify {
    width: 330px;
font-size: 25px;
}

}

@media only screen and (max-width: 1181px) {
    .member-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 77px;
    }

    .member-text {
        width: initial;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
        justify-content: center;
        margin-top: 40px;
    }

    .member-img {
        margin: -564px auto 0 0;
    }

    .member-buttons {
        margin-top: 500px;
        margin-left: 500px;
        display: flex;
        flex-direction: column;
    }

}
@media only screen and (max-width: 1065px) {
    .member-buttons {
        flex-direction: column;

    }
}
@media only screen and (max-width: 963px) {
    .member-block {
margin-bottom: 200px;
    }
    .member-img {
        margin: -705px auto 0 0;
    }
    .email-verify {
        margin-top: 36px;
        margin-left: 608px;
        margin-bottom: -200px;
    }
    .member-buttons {
        width: 375px;
        justify-content: space-around;
        margin-left: 15px;
        margin-top: 660px;
        flex-direction: row;
    }
    .sign-up {
        margin-top: 36px;
    }
    .shedule-visit {
        width: 150px;
        margin-right: 0px;
        margin-top:36px;
    }
}
@media only screen and (max-width: 754px) {
    .member-buttons {
       height: 110px;
    }
    .email-verify {
        margin-top: 50px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 740px) {
    .member-img img:nth-child(2) {
        margin-left: -390px;
        height: 570px;
        margin-top: 53.97px;
        width: 380px;
    }

}

@media only screen and (max-width: 653px) {
    .member-img {
        margin: -665px auto 0 0;
        z-index: -1;
    }
    .email-verify {
        width: 364px;
    }
    #emailVerify {
        width: 299px;
        font-size: 22px;
    }
    .member-buttons {
        width: 375px;
        justify-content: space-around;
        margin-left: 15px;
        margin-top: 610px;
        flex-direction: row;
    }

    .shedule-visit {
        width: 150px;
        margin-right: 0px;
        margin-top: 36px;
    }

    .member-img img:first-child {
        width: 400px;
        height: 650px;
        z-index: -1;
    }

    .member-img img:nth-child(2) {
        margin-top: 13px;
        z-index: -1;
    }

    .sign-up {
        width: 150px;
        margin-right: initial;
    }
}

@media only screen and (max-width: 446px) {
    .member-img {
        margin: -477px auto 0 0;
    }
.member-block {
    margin-bottom: 40px;
}
    .member-buttons {
        width: 255px;
        justify-content: space-around;
        margin-left: initial;
        margin-top: 430px;
        flex-direction: row;
    }
    #emailVerify {
        width: 190px;
        height: 25px;
        font-size: 15px;
        border-radius: 20px;
    }
    #emailButton {
        width: 30px;
        height: 30px;
        border: none;
        background: url(../images/member/chekMail.png) no-repeat 50% 50%;
        background-size: 30px 30px;
        cursor: pointer;
    }
    #emailButton:active {
        width: 28px;
        height: 28px;
    }
    .member-img img:first-child {
        width: 255px;
        height: 460px;
    }

    .member-img img:nth-child(2) {
        width: 240px;
        height: 400px;
        margin-top: 11px;
        margin-left: -248px;
    }
    .email-verify {
        height: 35.42px;
        margin-bottom: -20px;
        margin-right: 20px;
        margin-left: 20px;
        width: 244px;
    }
    .sign-up {
        width: 100px;
        height: 40px;
        font-size: 14px;
        margin-right: initial;
    }

    .shedule-visit {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
}