.full-container {
    margin: 0 auto;
    justify-content: center;
    padding: 20px 40px;
    width: 1667px;
    max-width: 1270px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.full-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.solutions-block {
    display: flex;
    margin: 110px 0;
    width: 1690px;

}

.solutions-text-block {
    margin-top: 100px;
}

.solutions-btn {
    margin-top: 60px;
    font-family: 'Gilroy Medium';
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 25px;
    width: 176.56px;
    height: 56.42px;
    color: #FFFFFF;
    border: none;
    background: #FD5B2F;
    border-radius: 5.22371px;
    margin-right: -80px;
    cursor: pointer;
}
.solutions-btn:active {
    box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
    color: #ffffff92;
}

.solutions-images {
    display: flex;
}

.solutions-images img {
    width: 530px;
    height: 700px;
    margin: 0 0 0 30px;

}


@media only screen and (max-width: 1227px) {
    .solutions-block {
        display: flex;
        flex-direction: column;
        margin: initial;
        width: 100%;
        height: 100vh;
    }
    .full-container {
        margin: 0 auto;
        justify-content: center;
        padding: 20px 40px;
        width: initial;
        max-width: initial;
        overflow-x: initial;
        -ms-overflow-style: initial;
        scrollbar-width: initial;
    }
    .full-container::-webkit-scrollbar {
        width: initial;
        height: initial;
    }
    .solutions-images {
        margin-top: -580px;
        display: flex;
        justify-content: space-around;
    }

    .solutions-images img {
        width: 330px;
        height: 500px;
        margin: 0 0 0 30px;

    }

    .solutions-btn {
        margin-top: 560px;
        margin-right: auto;
        margin-left: 40%;
    /* cursor: pointer; */

    }
    /* .solutions-btn:active {
        box-shadow: #FD5B2F 0.2px -0.2px 0.7px 1px;
        color: #ffffff92;
    } */

    .solutions-text-block {
        margin-top: initial;
    }
}

@media only screen and (max-width: 838px) {
    .solutions-images img:first-child {
        margin-top: 20px;

        width: calc(-1 * (7vw - 90%));

    }

    .solutions-images img:nth-child(2) {
        width: calc(-1 * (10vw - 90%));

    }

    .solutions-images img:nth-child(2) {
        margin-left: calc(-1 * (100vw - 50%));
        border: 2px solid #5a5959;
    }

    .solutions-images img:nth-child(2):hover {
        border: 2px solid #FD5B2F;

    }

    .solutions-images img:first-child {

        border: 2px solid #5a5959;
    }

    .solutions-images img:first-child:hover {
        z-index: 999;
        ;
        margin-top: 20px;
        border: 2px solid #FD5B2F;

    }
}

@media only screen and (max-width: 400px) {
    .solutions-btn {
        margin-top: 413px;
        margin-right: auto;
        margin-left: 10%;
    }

    .solutions-images img {
        height: 387px;
    }
    .solutions-images img:first-child {
        margin-left: -12px;
    }

    .solutions-images {
        margin-top: -465px;
        ;

    }

    .solutions-images img:first-child:hover {
        z-index: 999;
        ;
        margin-top: 20px;
        border: 2px solid #FD5B2F;

    }
}